{% extends 'homebase.html' %}
{% block content %}
<section>
<div class="container">
    <div class="title">
        <h4>Who Am I</h4>
        <h2>About Me</h2>
    </div>
    <div class="about-self">
        <div class="left">
            <img src="../static/images/me_alone.jpg" alt="">
        </div>
        <div class="right">
            <h3>Hello, <strong>I'm JunHeeLee</strong></h3>
            <p>자기소개하는 글1</p>
            <p>자기소개하는 글2</p>
            <p>자기소개하는 글3</p>
            <p>자기소개하는 글4</p>
            <p>자기소개하는 글5</p>
            <p>자기소개하는 글6</p>
            <p>자기소개하는 글7</p>
            <div class="social">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://github.com/JunHeeMerong">
                     <i class="fa-brands fa-github"></i>
                </a>
                <a href="#">
                   <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}