{% extends 'homebase.html' %}
{% block content %}
<section>
<div class="container">
    <div class="title">
        <h4>Features</h4>
        <h2>What I Do</h2>
    </div>
    <div class="do-me">
        <div class ="do-inner">
            <div class="icon">
                <i><img src="../static/images/python.jpg" alt=""></i> 
            </div>
            <div class="content">
                <h3>PYTHON</h3> 
                <p>프로그래머스 코딩테스트 {{ score }}</p>
                <p>PCCP Lv3(730점)</p>
                <p>pandas, selenium 사용가능</p>
                <p>DFS,BFS,deque,이분탐색</p>
                <p>heapq,hash,MST,DP,트리</p>
                <p>tensorflow 및 머신러닝</p>
            </div>
        </div>
        <div class="do-inner">
            <div class="icon">
                <i><img src="../static/images/django.png" alt=""></i> 
            </div>
            <div class="content">
                <h3>DJANGO</h3> 
                <p>이 페이지들을 장고로 제작</p>
            </div>
        </div>
        <div class="do-inner">
            <div class="icon">
                <i><img src="../static/images/mysql.png" alt=""></i> 
            </div>
            <div class="content">
                <h3>MYSQL</h3> 
                <p>대충 mysql 할 줄 안다는 소개글</p>
            </div>
        </div>
    </div>
    <form class='programmers'>
        <h2 class='box1'>프로그래머스 점수</h2>
        <div class='id'>
            <h3>아이디</h3>
            <input id='userid' type='text'/>
        </div>
        <div class='pw'>
            <h3>비밀번호</h3>
            <input id='password' type='password'/>
        </div>
        <button type='submit' class="btn btn-programmers">점수확인</button>
        <div class='score_user'>
            <p>점수 : </p>
        </div>
        <h2 class='box2'>adimn 점수</h2>
        <div class='score_admin'>
            <p>점수 : {{ score }} </p>
        </div>
    </form>
</div>
</section>
{% endblock %}