<header>
    <div class="container">
        <h1>
            <button data-animation-scroll="true" data-target="#main">JunHee</button>
        </h1>
        <nav>
            <ul>
                <li>
                    <button data-animation-scroll="true" data-target="#about">About</button>
                </li>
                <li>
                    <button data-animation-scroll="true" data-target="#features">Features</button>
                </li>
                <li>
                    <a href="/jun">Question</a>
                </li>
            </ul>
        </nav>
    </div>
</header>