<header>
    <div id="main-navbar" class="main-navbar">
        <h1 id="home-navbar" class="home-navbar">
            {% comment %} href="{% url 'Jun:index' %}" => url을 Jun폴더에 views.py의 index로 실행 {% endcomment %}
            {% comment %} <a class="navbar-brand" href="{% url 'Jun:index' %}">JunHee</a>  {% endcomment %}
            <a id="home-nav" class="home-nav" href="/">JunHee</a>
        </h1>
        <nav id="menu" class="menu">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="/jun">Question</a>
                </li>
            </ul>
        </nav>
    </div>
</header>